@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.services {
  padding-bottom: 40px;

  .service-item {
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;

    .service-item-inner {
      background-color: var(--bg-black-100);
      border: 1px solid var(--bg-black-50);
      padding: 30px 15px;
      text-align: center;
      height: 300px;
      @include transition(all 0.5s ease);
      @include flexbox(column, center, center);
      @include borderRadius(10px);

      &:hover {
        @include shadow(box-shadow, 0 0 20px rgba(0, 0, 0, 0.15));
      }

      .icon {
        width: 60px;
        height: 60px;
        display: block;
        margin: 0 auto 30px;
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        line-height: 60px;
        color: var(--skin-color);
        @include transition(all 0.5s ease);
        @include borderRadius(50%);

        &:hover {
          background-color: var(--skin-color);
          font-size: 25px;
          color: var(--text-black-900);
        }
      }

      h4 {
        font-size: 18px;
        margin-bottom: 15px;
        color: var(--text-black-900);
        font-weight: 700;
        text-transform: capitalize;
      }

      p {
        font-size: 16px;
        color: var(--text-black-700);
        line-height: 25px;
      }
    }
  }
  // Responsive settings
  @media (max-width: 1300px) {
    .service-item {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @media (max-width: 992px) {
    .service-item {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @media (max-width: 561px) {
    .service-item {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .service-item-inner {
      height: auto;
      padding: 20px 10px;
    }

    .icon {
      width: 50px;
      height: 50px;
      font-size: 30px;
      line-height: 50px;
    }

    h4 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
      line-height: 22px;
    }
  }
}
