@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.title-for-project {
  padding: 0 3rem;
  .container {
    z-index: 0;
    .project-info {
      margin-bottom: 3rem;
      @include flexbox($fd: row, $ai: flex-start, $jc: center, $gap: 3rem);

      .col {
        padding: 0;
        &.project-img {
          position: relative;
          background-color: var(--skin-color);
          @include borderRadius(0.5rem);

          // Resim kendisi
          img {
            position: relative;
            z-index: 0.5rem;
            left: 0.7rem;
            top: 0.7rem;
            width: 101%;
            height: 101%;
            object-fit: cover;
            object-position: center;
            @include borderRadius(0.5rem);
            display: block;
            @include transition(all 0.5s ease);
            &:hover {
              @include transform(scale(1.02));
         
            }
          }
        }
      }
    }
    p {
      padding: 0;
    }
  }
  @media (max-width: 767px) {
    .container {
      .project-info {
        @include flexbox($fd: column, $ai: flex-start, $jc: center, $gap: 2rem);
      }
    }
  }
}
