@use "../../styles/variables" as *;
@use "../../styles//mixins" as *;

.about {
  padding: 2rem;
  background-color: var(--bg-color-900);

  .about-description {
    font-size: 1.2rem;
    margin: 2rem 0;
    line-height: 1.5;
    color: var(--text-black-900);
  }

  .timeline-section {
    @include flexbox(row, space-between, flex-start, 5rem);
  }

  .timeline-column-wrapper {
    flex: 1;
    position: relative;
    padding: 2rem;
    border-left: 5px solid var(--skin-color);
    background-color: var(--bg-black-100);
    color: var(--text-black-900);
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    box-sizing: border-box; 

    .timeline-item {
      position: relative;
      margin-bottom: 2rem;
      padding-left: 1.5rem;
      width: 100%;

      .timeline-date-wrapper {
        @include flexbox(row, flex-start, center, 0.5rem);
        margin-bottom: 15px;

        .calendar-icon {
          font-size: 1.2rem;
        }

        .timeline-date {
          font-size: 1.5rem;
          color: var(--text-black-800);
        }
      }

      .timeline-title1 {
        font-size: 22px;
        margin-left: 25px;
      }

      .timeline-title2 {
        font-size: 20px;
        margin-left: 25px;
      }

      .timeline-icon {
        position: absolute;
        left: -1.1rem;
        top: 0.5rem;
        width: 1rem;
        height: 1rem;
        background-color: var(--skin-color);
        border-radius: 50%;
      }

      .education-desc {
        font-size: 20px;
        margin-left: 25px;
      }

      .timeline-title3 {
        font-size: 22px;
        margin-left: 25px;
      }
    }
  }
}


@media (max-width: 768px) {
  .about {
    .timeline-section {
      flex-direction: column;
      gap: 2rem;
    }

    .timeline-column-wrapper {
      width: 100%;
      padding: 1.5rem;
      border-left: none;
      border-top: 5px solid var(--skin-color);
      box-sizing: border-box; 
    }

    .timeline-column {
      padding: 0; 
    }

    .timeline-item {
      padding-left: 0;

      .timeline-date-wrapper {
        .calendar-icon {
          font-size: 1rem;
        }

        .timeline-date {
          font-size: 1.2rem;
        }
      }

      .timeline-title1 {
        font-size: 1.1rem;
        margin-left: 15px;
      }

      .timeline-title2 {
        font-size: 1rem;
        margin-left: 15px;
      }
    }

    .about-description {
      font-size: 1rem;
    }
  }
}
