@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.home {
  min-height: 100vh;
  padding-top: 2.5rem;
  color: var(--text-black-900);
  @include flexbox(row, center, center, 1rem);

  .home-info {
    flex: 0 0 60%;
    max-width: 60%;

    p {
      font-size: 1.2rem;
      margin: 2rem 0;
      line-height: 1.5;
      color: var(--text-black-900);
    }
  }

  .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 5rem;
      width: 5rem;
      border-bottom: 10px solid var(--skin-color);
      border-right: 10px solid var(--skin-color);
      right: 0px;
      bottom: -50px;
    }

    &::before {
      content: "";
      position: absolute;
      height: 5rem;
      width: 5rem;
      border-top: 10px solid var(--skin-color);
      border-left: 10px solid var(--skin-color);
      left: 0px;
      top: -50px;
    }
    img {
      margin: auto;
      @include borderRadius(0.5rem);
      max-height: 400px;
    }
  }

  h2.hello {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--text-black-900);

    span {
      font-family: "Clicker Script", cursive;
      font-size: 2.5rem;
      font-weight: 700;
      color: var(--skin-color);
    }
  }
  h3.my-proffesion {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    .typing {
      color: var(--skin-color) !important;
    }
  }

  @media (max-width: 1300px) {
    .home {
      padding: 2rem;
    }
    .home-info {
      flex: 0 0 50%;
      max-width: 100%;
    }
    .home-img {
      flex: 0 0 50%;
      max-width: 100%;
      margin-top: 2rem;
      max-height: 400px;

      &::after {
        content: "";
        position: absolute;
        height: 4rem;
        width: 4rem;
        border-bottom: 8px solid var(--skin-color);
        border-right: 8px solid var(--skin-color);
        right: 0px;
        bottom: -30px;
      }

      &::before {
        content: "";
        position: absolute;
        height: 4rem;
        width: 4rem;
        border-top: 8px solid var(--skin-color);
        border-left: 8px solid var(--skin-color);
        left: 0px;
        top: -50px;
      }

      img {
        max-height: 400px;
        max-width: 250px;
        margin: auto;
      }
    }
  }

  @media (max-width: 991px) {
    .home {
      padding: 2rem;
    }
    .home-info {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .home-img {
      display: none;
    }
  }
}
