@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.section-header {
  font-weight: 500;
  letter-spacing: 0.01rem;
  color: $color3;
  padding: 5px 0;
  margin-top: 10px;
  font-size: 20px;

 
  [data-theme='dark'] & {
    color: $color1; 
  }

  @media (min-width: 768px) {
    padding: 5px 0;
    margin-top: 0;
    font-size: 24px;
  }

  @media (min-width: 1024px) {
    padding: 5px 0;
    font-size: 28px;
  }
}
