@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;


.logo {
  position: relative; 
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;

  font-size: 2.7rem !important;
  color: var(--text-black-900) !important; 
  font-weight: 500;
  letter-spacing: 5px;

  span {
    font-family: var(--font-clicker);
    font-size: 4.5rem!important;
    font-weight: 700;
    margin-right: 0.2rem;
  }

  &::before {
    content: "";
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-bottom: 6px solid var(--skin-color); 
    border-left: 6px solid var(--skin-color); 
    bottom: 0;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-top: 6px solid var(--skin-color); 
    border-right: 6px solid var(--skin-color); 
    top: 0;
    right: 0;
  }

  &:hover {
    color: var(--text-black-900);
    transition: all 0.3s ease-in-out;
  }

  @media (max-width: 991px) {
    padding: .8rem;
    font-size: 1.5rem !important;
    font-weight: 600;

    span {
      font-size: 2.3rem !important;
      font-weight: 700 !important;
    }

    &::before,
    &::after {
      width: 2rem;
      height: 2rem;
      border-width: 4px;
    }
  }
}
