
.sidebar-wrapper {
  @media (max-width: 991.98px) {
    display: none !important;
  }
}

.main-menubar-wrapper {
  display: none;
  @media (max-width: 991.98px) {
    display: block !important;
  }
}
